body {
	/*background-image: url('greyarch.png');*/
	background: linear-gradient(top, #768f8f, #00a5af);
	height: 100%;
	padding: 80px 40px 40px 40px;
	font-family: 'Geo', sans-serif !important;


}

html {
	background-color: #00a5af;

}

* {
	font-family: 'Geo', Verdana !important;
	text-align: center;
	font-size: 22px;
	text-shadow: 6px 6px 12px #00a5af;
	color: black;
	line-height: 1.5em;

}

.table {
	opacity: 0.75;
	/*border-width: 5px;  */
	border: 10px solid;
	border-radius: 10px !important;

}


td, th {
	background-color: #a1b0b0;
	text-align: center !important;
	border-left: none !important;

}



tr {
	/*border-bottom: 3px solid !important;*/
}

tbody > tr.trow:hover * {
	background-color: #01A2A6;
}

.add_int, .minus_img {
	height: 20px;
	width: 20px;
}

* > * {
	border: none !important;
	border-radius: 8px 0px 8px 0px !important;

}



