.content {

	height: 100%;
	padding: 80px 40px 40px 40px;
	background-size: cover;
	background-image: url('abstract_whites.jpg');
	border: 1px solid;


}


* {
	text-align: center;
	font-size: 26px;
	color: black;
	line-height: 1.5em;
	/*border: 1px solid;*/
}

table.table {
	opacity: 0.95;
	font-family: 'Varela Round', sans-serif;
	zoom: 70%;
	/*background-color: #DCD7D8 !important;*/
	margin: auto;
	/*position: relative;*/
}

#header {
	font-family: 'Luckiest Guy', cursive;
}


td, th {
	background-color: white;
	text-align: center !important;
	border-collapse: collapse;
}



tr {
	border-bottom: 1px solid !important;
}

tbody > tr.trow:hover * {
	background-color: #01A2A6;
}

.add_int, .minus_img {
	height: 20px;
	width: 20px;
}



.delete_row {
	-webkit-animation-duration: 8s;
}



