body {
	background-size: contain;
	background-repeat: repeat-x;
	background-image: url('skulls.jpg');
}

.content {
	max-height: 3000px;
	min-height: 1000px;
	padding: 40px 20px 30px 20px;
}


* {
	text-align: center;
	font-size: 30px;
	color: #01A2A6;
	/*text-decoration: none;*/
	/*border: 1px solid;*/
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/

}
nav {
	height: 100px;
	/*background: rgba(0, 0, 0, 0.5) !important;*/
	opacity: .75;
}
a {
	text-decoration: none !important;
	color: inherit !important;

}


table.table {
	font-family: 'Varela Round', 'sans serif';
	zoom: 70%;
	/*background-color: #999DA0 !important;*/
	margin: auto;
	border: 10px solid #01A2A6;
	border-radius: 30px !important;
	/*position: relative;*/
		/*opacity: 0.55 !important;*/
	background: rgba(0, 0, 0, 0.5);

	border-collapse: separate !important;
}

#header {
	font-family: 'Luckiest Guy', cursive;
}


td, th {
	text-align: center !important;
	border-collapse: collapse;
}



input {
	background-color: yellow;
	box-shadow: 0 0 1em silver;
	background: rgba(204, 121, 121, 0.20);


}




.delete_row {
	-webkit-animation-duration: 3s !important;
	animation-duration: 10s;

}

footer  * {
	opacity: 1;
	color: white;
}

button#details-btn {
	background-color: inherit;
	border: none;
	font-size: 1.6em;
}

img#logo {
	width: 280px;
	height: 220px;
	left: 20px;
	top: -50px;
	position: absolute;

}

#cog {
	top: 20px;
	right: 25px;
	color: white;
	position: absolute;
}

.login-btn {

	font-size: 1.2em;
	font-family: Helvetica;
	background-color: #00AF43;
	border-radius: 10px;
	width: 70% !important;
	margin: auto;

}

.login-btn > i, #user_status, #navbarToggleExternalContent > div > span > span:nth-child(2) > a {
	color: black !important;

}

.tooltip-inner {
    min-width: 300px !important;
    max-width: 500px !important;
}

#navbarToggleExternalContent > div > span > div {
	display: flex;
	justify-content: space-between;
	background-color:#5F5F5F;
	border-radius:10px;
}
/*#navbarToggleExternalContent > div > span > div*/


.menu-btns {
	color: black !important;
	border-radius: 10px;
	padding: 10px 16px 0px 16px;
	max-width: 800px;
	margin: 8px 15px 10px 15px !important;
}

#navbarToggleExternalContent > div > span > div > div.card-header > ul > li:nth-child(3) {
	margin-bottom: 5px;
}
#navbarToggleExternalContent > div > span > div > div.card-header > ul > li:nth-child(4) > span:nth-child(2) > a {
	right: 20px;
	top: -7px;
	position: absolute;
}
.new-interface-form {
	background-color: #5B5B5B;
	padding: 20px 0px;
	line-height: 1em;
	margin-top: 5%;
}

form.new_interface {
	width: 100%;

}

.raise-table {
	position:relative;
	bottom: 260px
}
