<div class="card text-center navbar-target">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class=" menu-btns" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class=" menu-btns" href="">About</a>
      </li>
      <li class="nav-item">
        <span cu='<%= current_user.id %>' class="menu-btns" id='user_status'><%= current_user.email%></span>
        <span data-container='body' data-toggle="tooltip", data-placement="bottom", title="Logout">
          <%= link_to 'Logout', logout_path, class:"menu-btns", data: {confirm:'Log Out, For Serious?'}, remote: true %>
        </span>
      </li>
    </span>
      <li >
          <span id='plus-int-btn'><i class="fas fa-2x fa-address-card"></i></span>
      </li>
  </ul>
</div>
<div class="card-block">
</div>
</div>