<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class=" menu-btns" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class=" menu-btns" href="">About</a>
      </li>
      <li class="nav-item ">
        <%= link_to 'Add Interface', new_user_interface_path(current_user.id)  %>
      </li>
      <li class="nav-item">
        <span cu='<%= current_user.id %>' class="menu-btns" id='user_status'></span>
        <span data-container='body' data-toggle="tooltip", data-placement="bottom", title="Logout">
          <%= link_to current_user.email, logout_path, class:"menu-btns", data: {confirm:'Log Out, For Serious?'} %>
        </span>
      </li>
    </span>
  </ul>
</div>
<div class="card-block">
</div>
</div>